<h1 style="color:#2a5788;">Candiat</h1>


<mat-card>
  <mat-card-header>
    <form class="col-6 float-left" >

      <mat-form-field class="example-full-width">
        <input type="text" placeholder="Recherche par nom"  aria-label="Assignee" matInput  [formControl]="myControl"  [(ngModel)]="this.searchText" class="advancedSearchTextbox">
        <mat-icon matSuffix>search</mat-icon>



      </mat-form-field>


    </form>
    <div class="col-6 ">
      <button class="float-lg-right mr-3"  (click)="NavToAdd()"  mat-raised-button color="primary" >Ajouter  Candiat</button>
    </div>

  </mat-card-header>



  <mat-card-content *ngIf="this.listCandiat.length === 0 ">
    <div class="center-data" >
      <img src="../../../../assets/img/nodata-found.png">
      <h1>data Not found</h1>
    </div>
  </mat-card-content>


  <mat-accordion *ngIf="!!this.listCandiat">
    <div *ngFor="let candidat of this.listCandiat | grdFilter: {nom:searchText,prenom:searchText,profil:searchText}; let i=index;  ">
      <mat-expansion-panel    [hideToggle]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="align-content-center mt-2">
              {{candidat.nom}}   {{candidat.prenom}}
            </div>



          </mat-panel-title>
          <mat-panel-description class="mt-2">
            {{candidat.profil}}
          </mat-panel-description>

          <div>
            <!--routerLink="../modifier-tes/{{test.idTest}}"-->
            <a href="javascript:void(0)" >  <mat-icon  aria-hidden="false" (click)="NavToUpdate(candidat.idCandidat)"  aria-label="Example home icon">edit</mat-icon>
            </a>
            <a href="javascript:void(0)">  <mat-icon (click)="deleteCandidat(candidat.idCandidat)" aria-hidden="false" color="warn" aria-label="Example home icon">delete</mat-icon>
            </a>





          </div>


        </mat-expansion-panel-header>
        <mat-divider ></mat-divider>


        <div class="container-fluid  mt-4">

          <div class="row" >

            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Ecole" disabled value="{{candidat.ecole}}">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Experience " disabled value="{{candidat.experience}}">
              </mat-form-field>
            </div>

          </div>
          <div class="row" >
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Email" disabled value="{{candidat.email}}">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Télephone" disabled value="{{candidat.tel}}">
              </mat-form-field>
            </div>


          </div>

          <div class="row" >
            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Niveau" disabled value="  {{bac}}   {{candidat.niveau}}">
              </mat-form-field>
            </div>

            <div class="col">
              <mat-form-field class="example-full-width">
                <input matInput placeholder="Date debot" disabled value="   {{candidat.dateDebot}}">
              </mat-form-field>
            </div>




          </div>


        </div>



      </mat-expansion-panel>


    </div>

  </mat-accordion>








</mat-card>
