

<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <div>
        <a class="d-inline-block mr-3" routerLink="../../test" href="javascript:void(0)"> <mat-icon color="primary">keyboard_backspace</mat-icon></a>
      </div>
      <div>
        <mat-card-title class="head"> Modifier Test</mat-card-title>
      </div>
    </mat-card-header>
  
<form (ngSubmit)="onSubmit()" [formGroup]="modifierTest">
    <nb-card>

        <nb-card-body>
            <div class="text-left">
                <div class="col-4 d-inline-block">

                  <div>
                    <mat-form-field>
                      <mat-label> Type Test </mat-label>
                      <mat-select  (selectionChange)="typeSelected($event)">
                        <mat-option *ngFor="let type of this.listType"  [value]="type">
                          {{type}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>

                <div>
                    <mat-form-field>
                      <input matInput [(ngModel)]="this.testUpdated['theme']"  formControlName="theme" required placeholder="Theme">
                    </mat-form-field>
                  </div>
                  
                  
                  <div>
                    <mat-form-field>
                      <input matInput [(ngModel)]="this.testUpdated['description']"  formControlName="description"   required placeholder="Description">
                    </mat-form-field>
                  </div>


               

                  <mat-form-field class="input-width" >
                    <input matInput  [(ngModel)]="this.testUpdated['dateDebut']" formControlName="dateDebut"   [min]="today" [matDatepicker]="picker1" placeholder="Date de debut du test">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                    <mat-error *ngIf="isAfter">{{formErrors.required}}</mat-error>
                  </mat-form-field>
                 

                  <mat-form-field class="input-width" >
                    <input matInput  [(ngModel)]="this.testUpdated['dateFin']"  formControlName="dateFin" [min]="today" [matDatepicker]="picker2" placeholder="Date de fin de test	">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                    <mat-error *ngIf="isAfter">{{formErrors.required}}</mat-error>
                  </mat-form-field>
                 <!-- 
                  <div class="mt-2" class="avatar-container">
                    <label for="image">
                      <div><mat-icon style="z-index: 1;
                        margin-top: -20px;
                        font-size: 40px;
                        ">add_a_photo</mat-icon></div>
                      <input type="file"  name="image"(change)="onFileChanged($event)"  id="image" style="display:none;"/>
              
                     
                    </label>
                  </div>-->
                  
                  <div>
                    <mat-form-field>
                      <input matInput  [(ngModel)]="this.testUpdated['typeTest']"  formControlName="typeTest" required placeholder="Type test">
                    </mat-form-field>
                  </div>

            
                   <!---<mat-form-field class="input-width" >
                      <input matInput  formControlName="dateFin" [min]="today" [matDatepicker]="picker" placeholder="Date de fin de  test	">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error *ngIf="isAfter">{{formErrors.required}}</mat-error>
                    </mat-form-field>--> 
      
                  
                  

            


                </div>
            </div>



        </nb-card-body>


        <nb-card-footer>
            <div class="text-left">
              <button mat-raised-button  class=" m-2" color="warn">Modifier</button>
        
              <button mat-raised-button (click)="OnReset()" class=" m-2" color="primary">Annuler</button>
            </div>
        
            </nb-card-footer>
     </nb-card>



</form>
