<h1  style="color:#2a5788;">Réusltat Test </h1>


<div class="col-12">



</div>

<mat-toolbar color="primary">
  <span> Etat de Test </span>
  <span class="spacer"></span>
  Refresh
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter issues">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    ng update @angular/cli @angular/core

    <ng-container matColumnDef="theme">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Theme</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.theme}}</mat-cell>
    </ng-container>



    <ng-container matColumnDef="dateDebut">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DateDebut</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.dateDebut}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateFin">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DateFin</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.dateFin}}</mat-cell>
    </ng-container>



    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Score</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.score}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nomcandidat}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="prenom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Prenom</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.prenomcandidat}}</mat-cell>
    </ng-container>

    <ng-container  matColumnDef="etatTest">
      <mat-header-cell *matHeaderCellDef mat-sort-header>EtatTest</mat-header-cell>
      <mat-cell  *matCellDef="let row"  > <p *ngIf="row.etatTest===0"  style="background-color:red;">{{row.etatTestInfo}}</p>
        <p *ngIf="row.etatTest===1"  style="background-color:springgreen;">{{row.etatTestInfo}}</p>

      </mat-cell>
    </ng-container>



    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" >

        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent"  (click)="openDialogMail(row.nomcandidat)" >
          <mat-icon  aria-hidden="false"  color="primary" aria-label="Example home icon">mail</mat-icon>
        </button>


        <button mat-icon-button color="accent" >
          <mat-icon aria-label="Delete"  color="primary" (click)="voirResultat(row.resultat,row.score,row.nomcandidat,row.dateEvaluation,row.theme)" >visibility</mat-icon>
        </button>



        <button mat-icon-button color="accent" >
          <mat-icon aria-label="Delete" (click)="deleteTest(row.idTest)" >delete</mat-icon>
        </button>




      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
